.container{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
     
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .7s;
      background:#fff;
  }
  
  ul.slider li img{
    
    height: 300px;
    object-fit: cover;
    position: center;
    text-align: center;
    display: inline-block;
    

  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu1{
    text-align: center;
    margin: 20px;
  }
  
  .menu1 li{
    display: inline-block;
    text-align: center;
  }
  
  .menu1 li a{
    display: inline-block;
    color: white;
  
    background-color: rgb(43, 6, 144);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }
  .menu1 li a:hover{
    color:rgb(21, 235, 217);
    text-decoration: overline;

}



body{
  margin: 0;
  background-color: rgb(75, 78, 76);

}

.bloquetitulo{
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 15px;
  padding-top: 50px;
  text-align: center;
  font-family: Segoe Print;
  color: salmon;

}

.parrafotitulo1{
  letter-spacing: 1px;
  font-family: cursive;
 
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 35px;
}
.icosart{
 padding-top: 55px; 
}
.bloquetitulo2{
  width: 100%;
  display: inline-block;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 35px;
text-align: center;
color: black;
font-family: Segoe Print;
background-image: url(../img/fondo1.jpg);
background-attachment: fixed;
background-size: 50% 50%;
font-weight: bold;

}


.parrafotitulo2{
  letter-spacing: 1px;
  font-family: cursive;
  color: aqua;
  text-align: left;
  margin-left: 85px;
  margin-top: 45px;
  text-align: center;
  font-size: 18px;
  float: left;

}

.pfotografia{
  text-align: center;
  font-size:40px ;
  color:brown;

  padding-bottom: 15%;
}

.fotografia{
  width: 800px;
  display: block;
  margin: 135px auto;
  border-radius: 25px;

}

footer{
  width: 100%;
 
}
.iconosredes{
  text-align: center;

}
.ajusteicono{
  display: inline-flex;
  margin: 50px 35px;

}

.textofooter{
  padding-top: 8px;
  width: 100%;
  font-family: cursive;
  text-align: center;
  color: aquamarine;
  font-size: 15px;
  background-color: black;
  height: 80px;

}
.main_header{
  width: 100%;

  z-index: 101;
  background: #cac5c5;
  font-size: 30px;
  font-family: Segoe print;
  
  
  }
  
  .iconopedagogia {
      background: rgb(82, 66, 66);
      margin: auto;
      text-align: center;
      padding-top: 15px;
   
  }
  
  .menu ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: none;
         
  
  }
  .menu li{
      padding-top: 15px;
      padding-left: 100px;
  }
  
  .menu li a:hover{
      color:chartreuse;
      text-decoration: overline;
  
  }
  .menu li a {
      display: block;
      padding: 15px;
    
      color: white;
  
  }
  
  .iconopedagogia img{
      width: 200px;
      height: 110px;
      position: inherit;
  }
  .hh3{
    text-align: center;
  }
  input{
    width:300px;
    height: 30px;
    text-align: center;
}

